html {
    height: 100%;
}

body {
    background: white;
    height: auto;
    font-family: Georgia, "Times New Roman", Times, serif
}

h1, h2, h3, h4 {
    font-family: GuardianSansBold, Georgia, "Times New Roman", Times, serif;
}

header {
    flex: 1 0 auto;
    max-height: 80px;
    width: 80%;
    text-align: center;
    margin-bottom: 16px;
}

header img {
    padding-right: 16px;
    vertical-align: baseline;
}

flex-row,
flex-column,
footer {
    display: flex;
    align-items: center;
    max-width: 100%;
}

flex-row {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 16px;
    width: 100%
}

flex-column {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 16px;
}

content {
    flex-grow: 1;
}

md-divider.red {
    width: 80%;
    border-top: solid 1px #f4000e;
}

footer {
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    font-size: small;
}
