.whats-this {
    width: 80%;
}

md-list {
    width: 80%;
}

img.thumb {
    padding: 4px 16px;
}

md-list-item.entry {
    padding: 8px;
}

md-list md-list-item.md-3-line .md-list-item-text {
    margin: 0;
}

md-list md-list-item.md-3-line .md-list-item-text h3 a {
    color: #404040;
    text-decoration: none;
}

md-list md-list-item.md-3-line .md-list-item-text h3 a:hover {
    color: #404040;
    text-decoration: underline;
}

md-list md-list-item.md-3-line .md-list-item-text h4 {
    color: gray;
    font-size: small;
}

md-list md-list-item.md-3-line .md-list-item-text p i {
    cursor: pointer;
}

md-list md-list-item.md-3-line .md-list-item-text p i:hover {
    color: #f4000e;
}

#slides_control {
    padding-bottom: 8px;
}

.carousel-inner > .item {
    height: 200px;
    width: 500px;
    margin: auto;
    overflow: hidden;
}

.carousel-inner .carousel-caption h4 {
    text-shadow: 0 1px 4px black;
}

md-input-container {
    font-size: 20px;
    line-height: 20px;
}

.time-icon {
    padding-right: 8px;
    vertical-align: middle;
}

.date {
    padding-bottom: 4px;
}

.share-buttons {
    justify-content: flex-start;
    padding: 8px 0;
}

.share-buttons div {
    padding-right: 32px;
}
