<section class="flex-column">
    <div class="card">
        <h3>What is this?</h3>
        <p>Flow Show is your own personal RSS reader for the latest news on <a href="https://www.dn.se" target="_blank">Dagens
            Nyheter</a>.</p>
    </div>

    <div class="flex-column">
        <md-list>
            <md-divider></md-divider>
            <md-list-item class="md-3-line md-dense entry" ng-repeat="entry in news.entries">
                <img ng-src="{{getAvatar(entry)}}" width="100px" class="thumbnail"/>
                <div class="md-list-item-text">
                    <h3><a href="{{entry.link}}" target="_blank">{{ entry.title }}</a></h3>
                    <h4 class="date">{{entry.publishedDate | date: 'MMM dd - yyyy' }}</h4>
                    <p>
                        {{entry.contentSnippet}}
                        <i class="mdi mdi-tooltip-text md-primary" ng-click="viewFullText($event, entry)"
                           alt="Show full text"></i>
                    </p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
</section>

