<flex-column>
    <div class="flex-row">
        <md-divider class="red"></md-divider>
    </div>

    <flex-column>
        <h3>What is this?</h3>
        <p>
            Flow Show is your own personal RSS reader for the latest news on the Swedish news site <a href="https://www.dn.se"
                                                                                target="_blank">Dagens
            Nyheter</a>.
        </p>

    </flex-column>

    <flex-row>
        <md-divider class="red"></md-divider>
    </flex-row>

    <flex-column>
        <h3>Highlights</h3>
        <div id="slides_control" ng-if="topStories">
            <div>
                <uib-carousel interval="myInterval" active="activeSlide">
                    <uib-slide ng-repeat="entry in topStories | limitTo: 10" index="$index">
                        <img ng-src="{{getImage(entry)}}">
                        <div class="carousel-caption">
                            <h4 ng-href="{{entry.link}}">{{entry.title}}</h4>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </flex-column>

    <flex-row>
        <md-divider class="red"></md-divider>
    </flex-row>

    <flex-column>
        <h3>News feed</h3>
        <p>
            Scroll through the list of news or use the search.
        </p>

        <md-input-container md-no-float>
            <md-icon class="mdi mdi-magnify md-primary"></md-icon>
            <input ng-model="searchQuery" type="text" placeholder="Search news">
        </md-input-container>

        <md-list>
            <md-divider></md-divider>
            <md-list-item class="md-3-line md-dense entry" ng-repeat="entry in news.entries | filter: searchQuery" ng-if="(news && news.entries)">
                <img ng-src="{{getAvatar(entry)}}" width="100px" class="thumb"/>
                <div class="md-list-item-text">
                    <h3><a href="{{entry.link}}" target="_blank">{{ entry.title }}</a></h3>
                    <h4 class="date">{{entry.publishedDate | date: 'MMM dd - yyyy' }}</h4>
                    <p>
                        {{entry.contentSnippet}}
                        <i class="mdi mdi-tooltip-text md-primary" ng-click="viewFullText($event, entry)"
                           alt="Show full text"></i>
                    </p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </flex-column>
</flex-column>

